.iu-top-scrollbar{
  height:14px;
  overflow-x:auto;
  overflow-y:hidden;
  border-bottom:1px solid var(--iu-border);
  background:#f8fafc;
}
.iu-top-scrollbar>div{
  height:1px;
}

@media(max-width:760px){
  .iu-top-scrollbar{
    display:none;
  }
}
