openapi: 3.0.3
info:
  title: IUSENTRA API Contracts
  version: 2.276.12
  description: 'Contratti API fase 6 generati da endpoint Flask reali. Aggiornato: 2026-05-18.'
servers:
- url: https://app.iusentra.it
  description: Produzione Hetzner
- url: http://127.0.0.1:8080
  description: Docker locale
tags:
- name: Admin
  description: Contratti API Admin.
- name: Agenda
  description: Contratti API Agenda.
- name: Sistema
  description: Contratti API Sistema.
- name: Settings
  description: Contratti API Settings.
- name: Portale Cliente
  description: Contratti API Portale Cliente.
- name: Anagrafiche
  description: Contratti API Anagrafiche.
- name: Mandato
  description: Contratti API Mandato.
- name: Dashboard
  description: Contratti API Dashboard.
- name: Comunicazioni
  description: Contratti API Comunicazioni.
- name: Fascicoli
  description: Contratti API Fascicoli.
- name: Lex
  description: Contratti API Lex.
- name: Ricerca
  description: Contratti API Ricerca.
- name: Documenti
  description: Contratti API Documenti.
- name: Studio
  description: Contratti API Studio.
- name: Telematico
  description: Contratti API Telematico.
security:
- cookieSession: []
- apiKeyAuth: []
paths:
  /api/v1/ui/admin/database:
    get:
      tags:
      - Admin
      summary: 'Amministrazione database: GET /api/v1/ui/admin/database'
      description: 'Contratto fase 6 derivato da `admin_database_react_payload` in `web/blueprints/api_v1_react.py:7133`.
        Pagina/area collegata: Amministrazione database. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_admin_database_react_payload_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Amministrazione database nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDatabaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: utenti.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/agenda:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda'
      description: 'Contratto fase 6 derivato da `agenda` in `web/blueprints/api_v1_react.py:13651`. Pagina/area collegata:
        Agenda (/app/agenda). I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.agenda.calendar
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/agenda/importa:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda/importa'
      description: 'Contratto fase 6 derivato da `agenda_importa_defaults` in `web/blueprints/api_v1_react.py:14278`. Pagina/area
        collegata: Agenda. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_importa_defaults_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/agenda/nuovo/defaults:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda/nuovo/defaults'
      description: 'Contratto fase 6 derivato da `agenda_nuovo_defaults` in `web/blueprints/api_v1_react.py:14314`. Pagina/area
        collegata: Agenda. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_nuovo_defaults_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/amministrazione:
    get:
      tags:
      - Sistema
      summary: 'API React operativa: GET /api/v1/ui/amministrazione'
      description: 'Contratto fase 6 derivato da `amministrazione_page` in `web/blueprints/api_v1_react.py:10284`. Pagina/area
        collegata: Amministrazione (/app/amministrazione). I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_amministrazione_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo API React operativa nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P2
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.admin.home
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/audit:
    get:
      tags:
      - Admin
      summary: 'Registro attivita: GET /api/v1/ui/audit'
      description: 'Contratto fase 6 derivato da `audit_page` in `web/blueprints/api_v1_react.py:9119`. Pagina/area collegata:
        Registro attivita. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_audit_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Registro attivita nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: audit.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/audit/{id_evento}:
    get:
      tags:
      - Admin
      summary: 'Registro attivita: GET /api/v1/ui/audit/{id_evento}'
      description: 'Contratto fase 6 derivato da `audit_event_detail_page` in `web/blueprints/api_v1_react.py:9150`. Pagina/area
        collegata: Registro attivita. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_audit_event_detail_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_evento
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Registro attivita nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: audit.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/backup:
    get:
      tags:
      - Admin
      summary: 'Backup: GET /api/v1/ui/backup'
      description: 'Contratto fase 6 derivato da `backup_page` in `web/blueprints/api_v1_react.py:9457`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/backup/crea:
    post:
      tags:
      - Admin
      summary: 'Backup: POST /api/v1/ui/backup/crea'
      description: 'Contratto fase 6 derivato da `backup_crea` in `web/blueprints/api_v1_react.py:9493`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_crea_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/backup/verifica:
    post:
      tags:
      - Admin
      summary: 'Backup: POST /api/v1/ui/backup/verifica'
      description: 'Contratto fase 6 derivato da `backup_verifica` in `web/blueprints/api_v1_react.py:9519`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_verifica_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/bootstrap:
    get:
      tags:
      - Sistema
      summary: 'Bootstrap React: GET /api/v1/ui/bootstrap'
      description: 'Contratto fase 6 derivato da `bootstrap` in `web/blueprints/api_v1_react.py:2372`. Pagina/area collegata:
        Bootstrap React. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_bootstrap_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Bootstrap React nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/calendari/accounts:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/accounts'
      description: 'Contratto fase 6 derivato da `calendari_accounts` in `web/blueprints/api_v1_react.py:10155`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_accounts_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/accounts/{account_id}/disconnect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/accounts/{account_id}/disconnect'
      description: 'Contratto fase 6 derivato da `calendari_account_disconnect` in `web/blueprints/api_v1_react.py:10245`.
        Pagina/area collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_calendari_account_disconnect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/accounts/{account_id}/sync:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/accounts/{account_id}/sync'
      description: 'Contratto fase 6 derivato da `calendari_account_sync` in `web/blueprints/api_v1_react.py:10236`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_account_sync_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/apple/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/apple/connect'
      description: 'Contratto fase 6 derivato da `calendari_apple_connect` in `web/blueprints/api_v1_react.py:10212`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_apple_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/calendars/{calendar_id}/toggle:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/calendars/{calendar_id}/toggle'
      description: 'Contratto fase 6 derivato da `calendari_calendar_toggle` in `web/blueprints/api_v1_react.py:10254`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_calendar_toggle_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/conflicts:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/conflicts'
      description: 'Contratto fase 6 derivato da `calendari_conflicts` in `web/blueprints/api_v1_react.py:10263`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_conflicts_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/conflicts/{conflict_id}/resolve:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/conflicts/{conflict_id}/resolve'
      description: 'Contratto fase 6 derivato da `calendari_conflict_resolve` in `web/blueprints/api_v1_react.py:10272`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_conflict_resolve_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: conflict_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/demo/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/demo/connect'
      description: 'Contratto fase 6 derivato da `calendari_demo_connect` in `web/blueprints/api_v1_react.py:10164`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_demo_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/google/callback:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/google/callback'
      description: 'Contratto fase 6 derivato da `calendari_google_callback` in `web/blueprints/api_v1_react.py:10185`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_google_callback_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/google/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/google/connect'
      description: 'Contratto fase 6 derivato da `calendari_google_connect` in `web/blueprints/api_v1_react.py:10176`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_google_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/microsoft/callback:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/microsoft/callback'
      description: 'Contratto fase 6 derivato da `calendari_microsoft_callback` in `web/blueprints/api_v1_react.py:10203`.
        Pagina/area collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_calendari_microsoft_callback_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/microsoft/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/microsoft/connect'
      description: 'Contratto fase 6 derivato da `calendari_microsoft_connect` in `web/blueprints/api_v1_react.py:10194`.
        Pagina/area collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_calendari_microsoft_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/webcal/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/webcal/connect'
      description: 'Contratto fase 6 derivato da `calendari_webcal_connect` in `web/blueprints/api_v1_react.py:10224`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_webcal_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/cartelle-condivise:
    get:
      tags:
      - Sistema
      summary: 'API React operativa: GET /api/v1/ui/cartelle-condivise'
      description: 'Contratto fase 6 derivato da `cartelle_condivise_react_payload` in `web/blueprints/api_v1_react.py:5793`.
        Pagina/area collegata: API React operativa. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_cartelle_condivise_react_payload_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo API React operativa nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P2
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/client-portal/dashboard:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/dashboard'
      description: 'Contratto fase 6 derivato da `studio_dashboard` in `web/blueprints/api_v1_client_portal.py:107`. Pagina/area
        collegata: Portale Clienti (/app/portale-clienti). I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_studio_dashboard_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: routes.appV2.clientPortal.enabled
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/client-portal/public/appointments/{appointment_id}:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/appointments/{appointment_id}'
      description: 'Contratto fase 6 derivato da `public_appointment_update` in `web/blueprints/api_v1_client_portal.py:253`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_appointment_update_post
      security:
      - clientPortalToken: []
      parameters:
      - name: appointment_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/consents:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/consents'
      description: 'Contratto fase 6 derivato da `public_consent_update` in `web/blueprints/api_v1_client_portal.py:221`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_consent_update_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/conversation-export:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/public/conversation-export'
      description: 'Contratto fase 6 derivato da `public_conversation_export` in `web/blueprints/api_v1_client_portal.py:273`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_conversation_export_get
      security:
      - clientPortalToken: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
  /api/v1/ui/client-portal/public/dashboard:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/public/dashboard'
      description: 'Contratto fase 6 derivato da `public_dashboard` in `web/blueprints/api_v1_client_portal.py:206`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_dashboard_get
      security:
      - clientPortalToken: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
  /api/v1/ui/client-portal/public/documents:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/documents'
      description: 'Contratto fase 6 derivato da `public_document_upload` in `web/blueprints/api_v1_client_portal.py:231`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_document_upload_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUploadRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/documents/{document_id}/download:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/public/documents/{document_id}/download'
      description: 'Contratto fase 6 derivato da `public_document_file` in `web/blueprints/api_v1_client_portal.py:239`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_document_file_get
      security:
      - clientPortalToken: []
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
  /api/v1/ui/client-portal/public/invites/{token}:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/public/invites/{token}'
      description: 'Contratto fase 6 derivato da `public_invite_preview` in `web/blueprints/api_v1_client_portal.py:196`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_invite_preview_get
      security:
      - clientPortalToken: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: public-safe-error
      x-contract-status: complete
  /api/v1/ui/client-portal/public/invites/{token}/accept:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/invites/{token}/accept'
      description: 'Contratto fase 6 derivato da `public_invite_accept` in `web/blueprints/api_v1_client_portal.py:201`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_invite_accept_post
      security:
      - clientPortalToken: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: public-safe-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/messages:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/messages'
      description: 'Contratto fase 6 derivato da `public_message_create` in `web/blueprints/api_v1_client_portal.py:226`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_message_create_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/notifications/{notification_id}/read:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/notifications/{notification_id}/read'
      description: 'Contratto fase 6 derivato da `public_notification_read` in `web/blueprints/api_v1_client_portal.py:258`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_notification_read_post
      security:
      - clientPortalToken: []
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/preferences:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/preferences'
      description: 'Contratto fase 6 derivato da `public_preferences_update` in `web/blueprints/api_v1_client_portal.py:216`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_preferences_update_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/profile:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/profile'
      description: 'Contratto fase 6 derivato da `public_profile_update` in `web/blueprints/api_v1_client_portal.py:211`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_profile_update_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/questionnaires/{questionnaire_id}:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/questionnaires/{questionnaire_id}'
      description: 'Contratto fase 6 derivato da `public_questionnaire_submit` in `web/blueprints/api_v1_client_portal.py:263`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_questionnaire_submit_post
      security:
      - clientPortalToken: []
      parameters:
      - name: questionnaire_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/signatures/{signature_id}/complete:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/signatures/{signature_id}/complete'
      description: 'Contratto fase 6 derivato da `public_signature_complete` in `web/blueprints/api_v1_client_portal.py:248`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_signature_complete_post
      security:
      - clientPortalToken: []
      parameters:
      - name: signature_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/public/surveys:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/public/surveys'
      description: 'Contratto fase 6 derivato da `public_survey_submit` in `web/blueprints/api_v1_client_portal.py:268`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_public_survey_submit_post
      security:
      - clientPortalToken: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: client-token-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/studio/appointments:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/studio/appointments'
      description: 'Contratto fase 6 derivato da `studio_appointment_create` in `web/blueprints/api_v1_client_portal.py:179`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_appointment_create_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/studio/conversation-export:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/studio/conversation-export'
      description: 'Contratto fase 6 derivato da `studio_conversation_export` in `web/blueprints/api_v1_client_portal.py:191`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_conversation_export_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/client-portal/studio/dashboard:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/studio/dashboard'
      description: 'Contratto fase 6 derivato da `studio_dashboard` in `web/blueprints/api_v1_client_portal.py:107`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_dashboard_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/client-portal/studio/document-requests:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/studio/document-requests'
      description: 'Contratto fase 6 derivato da `studio_document_request_create` in `web/blueprints/api_v1_client_portal.py:144`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_document_request_create_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/studio/documents/{document_id}/download:
    get:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: GET /api/v1/ui/client-portal/studio/documents/{document_id}/download'
      description: 'Contratto fase 6 derivato da `studio_document_file` in `web/blueprints/api_v1_client_portal.py:169`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_document_file_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/client-portal/studio/evidence-packs:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/studio/evidence-packs'
      description: 'Contratto fase 6 derivato da `studio_evidence_pack_create` in `web/blueprints/api_v1_client_portal.py:185`.
        Pagina/area collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_evidence_pack_create_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/studio/invites:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/studio/invites'
      description: 'Contratto fase 6 derivato da `studio_invite_create` in `web/blueprints/api_v1_client_portal.py:126`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_invite_create_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/client-portal/studio/invites/{invite_id}/revoke:
    post:
      tags:
      - Portale Cliente
      summary: 'Portale Cliente: POST /api/v1/ui/client-portal/studio/invites/{invite_id}/revoke'
      description: 'Contratto fase 6 derivato da `studio_invite_revoke` in `web/blueprints/api_v1_client_portal.py:132`. Pagina/area
        collegata: Portale Cliente. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_studio_invite_revoke_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: invite_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Portale Cliente nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPortalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: clienti.leggi/scrivi oppure invito cliente valido
      x-feature-flag: non applicabile o governato dalla route collegata
[...]
