openapi: 3.0.3
info:
  title: IUSENTRA API Contracts
  version: 2.248.60
  description: 'Contratti API fase 6 generati da endpoint Flask reali. Aggiornato: 2026-05-18.'
servers:
- url: https://app.iusentra.it
  description: Produzione Hetzner
- url: http://127.0.0.1:8080
  description: Docker locale
tags:
- name: Admin
  description: Contratti API Admin.
- name: Agenda
  description: Contratti API Agenda.
- name: Sistema
  description: Contratti API Sistema.
- name: Settings
  description: Contratti API Settings.
- name: Anagrafiche
  description: Contratti API Anagrafiche.
- name: Mandato
  description: Contratti API Mandato.
- name: Dashboard
  description: Contratti API Dashboard.
- name: Comunicazioni
  description: Contratti API Comunicazioni.
- name: Fascicoli
  description: Contratti API Fascicoli.
- name: Lex
  description: Contratti API Lex.
- name: Ricerca
  description: Contratti API Ricerca.
- name: Documenti
  description: Contratti API Documenti.
- name: Studio
  description: Contratti API Studio.
- name: Telematico
  description: Contratti API Telematico.
security:
- cookieSession: []
- apiKeyAuth: []
paths:
  /api/v1/ui/admin/database:
    get:
      tags:
      - Admin
      summary: 'Amministrazione database: GET /api/v1/ui/admin/database'
      description: 'Contratto fase 6 derivato da `admin_database_react_payload` in `web/blueprints/api_v1_react.py:2876`.
        Pagina/area collegata: Amministrazione database. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_admin_database_react_payload_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Amministrazione database nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDatabaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: utenti.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/agenda:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda'
      description: 'Contratto fase 6 derivato da `agenda` in `web/blueprints/api_v1_react.py:6831`. Pagina/area collegata:
        Agenda (/app/agenda). I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.agenda.calendar
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/agenda/importa:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda/importa'
      description: 'Contratto fase 6 derivato da `agenda_importa_defaults` in `web/blueprints/api_v1_react.py:6844`. Pagina/area
        collegata: Agenda. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_importa_defaults_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/agenda/nuovo/defaults:
    get:
      tags:
      - Agenda
      summary: 'Agenda: GET /api/v1/ui/agenda/nuovo/defaults'
      description: 'Contratto fase 6 derivato da `agenda_nuovo_defaults` in `web/blueprints/api_v1_react.py:6880`. Pagina/area
        collegata: Agenda. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_agenda_nuovo_defaults_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Agenda nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/amministrazione:
    get:
      tags:
      - Sistema
      summary: 'API React operativa: GET /api/v1/ui/amministrazione'
      description: 'Contratto fase 6 derivato da `amministrazione_page` in `web/blueprints/api_v1_react.py:4760`. Pagina/area
        collegata: Amministrazione (/app/amministrazione). I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_amministrazione_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo API React operativa nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P2
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.admin.home
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/audit:
    get:
      tags:
      - Admin
      summary: 'Registro attivita: GET /api/v1/ui/audit'
      description: 'Contratto fase 6 derivato da `audit_page` in `web/blueprints/api_v1_react.py:3615`. Pagina/area collegata:
        Registro attivita. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_audit_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Registro attivita nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: audit.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/audit/{id_evento}:
    get:
      tags:
      - Admin
      summary: 'Registro attivita: GET /api/v1/ui/audit/{id_evento}'
      description: 'Contratto fase 6 derivato da `audit_event_detail_page` in `web/blueprints/api_v1_react.py:3646`. Pagina/area
        collegata: Registro attivita. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_audit_event_detail_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_evento
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Registro attivita nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: audit.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/backup:
    get:
      tags:
      - Admin
      summary: 'Backup: GET /api/v1/ui/backup'
      description: 'Contratto fase 6 derivato da `backup_page` in `web/blueprints/api_v1_react.py:3953`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/backup/crea:
    post:
      tags:
      - Admin
      summary: 'Backup: POST /api/v1/ui/backup/crea'
      description: 'Contratto fase 6 derivato da `backup_crea` in `web/blueprints/api_v1_react.py:3989`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_crea_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/backup/verifica:
    post:
      tags:
      - Admin
      summary: 'Backup: POST /api/v1/ui/backup/verifica'
      description: 'Contratto fase 6 derivato da `backup_verifica` in `web/blueprints/api_v1_react.py:4015`. Pagina/area collegata:
        Backup. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_backup_verifica_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Backup nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: backup.leggi/esegui
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/bootstrap:
    get:
      tags:
      - Sistema
      summary: 'Bootstrap React: GET /api/v1/ui/bootstrap'
      description: 'Contratto fase 6 derivato da `bootstrap` in `web/blueprints/api_v1_react.py:1496`. Pagina/area collegata:
        Bootstrap React. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_bootstrap_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Bootstrap React nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/calendari/accounts:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/accounts'
      description: 'Contratto fase 6 derivato da `calendari_accounts` in `web/blueprints/api_v1_react.py:4631`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_accounts_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/accounts/{account_id}/disconnect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/accounts/{account_id}/disconnect'
      description: 'Contratto fase 6 derivato da `calendari_account_disconnect` in `web/blueprints/api_v1_react.py:4721`.
        Pagina/area collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_calendari_account_disconnect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/accounts/{account_id}/sync:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/accounts/{account_id}/sync'
      description: 'Contratto fase 6 derivato da `calendari_account_sync` in `web/blueprints/api_v1_react.py:4712`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_account_sync_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/apple/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/apple/connect'
      description: 'Contratto fase 6 derivato da `calendari_apple_connect` in `web/blueprints/api_v1_react.py:4688`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_apple_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/calendars/{calendar_id}/toggle:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/calendars/{calendar_id}/toggle'
      description: 'Contratto fase 6 derivato da `calendari_calendar_toggle` in `web/blueprints/api_v1_react.py:4730`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_calendar_toggle_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: calendar_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/conflicts:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/conflicts'
      description: 'Contratto fase 6 derivato da `calendari_conflicts` in `web/blueprints/api_v1_react.py:4739`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_conflicts_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/conflicts/{conflict_id}/resolve:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/conflicts/{conflict_id}/resolve'
      description: 'Contratto fase 6 derivato da `calendari_conflict_resolve` in `web/blueprints/api_v1_react.py:4748`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_conflict_resolve_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: conflict_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/demo/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/demo/connect'
      description: 'Contratto fase 6 derivato da `calendari_demo_connect` in `web/blueprints/api_v1_react.py:4640`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_demo_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/google/callback:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/google/callback'
      description: 'Contratto fase 6 derivato da `calendari_google_callback` in `web/blueprints/api_v1_react.py:4661`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_google_callback_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/google/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/google/connect'
      description: 'Contratto fase 6 derivato da `calendari_google_connect` in `web/blueprints/api_v1_react.py:4652`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_google_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/microsoft/callback:
    get:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: GET /api/v1/ui/calendari/microsoft/callback'
      description: 'Contratto fase 6 derivato da `calendari_microsoft_callback` in `web/blueprints/api_v1_react.py:4679`.
        Pagina/area collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_calendari_microsoft_callback_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/calendari/microsoft/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/microsoft/connect'
      description: 'Contratto fase 6 derivato da `calendari_microsoft_connect` in `web/blueprints/api_v1_react.py:4670`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_microsoft_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/calendari/webcal/connect:
    post:
      tags:
      - Settings
      summary: 'Sincronizzazione calendari: POST /api/v1/ui/calendari/webcal/connect'
      description: 'Contratto fase 6 derivato da `calendari_webcal_connect` in `web/blueprints/api_v1_react.py:4700`. Pagina/area
        collegata: Sincronizzazione calendari. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_calendari_webcal_connect_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Sincronizzazione calendari nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: admin.configura
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/cartelle-condivise:
    get:
      tags:
      - Sistema
      summary: 'API React operativa: GET /api/v1/ui/cartelle-condivise'
      description: 'Contratto fase 6 derivato da `cartelle_condivise_react_payload` in `web/blueprints/api_v1_react.py:2592`.
        Pagina/area collegata: API React operativa. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_cartelle_condivise_react_payload_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo API React operativa nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiOperationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P2
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/clienti:
    get:
      tags:
      - Anagrafiche
      summary: 'Clienti: GET /api/v1/ui/clienti'
      description: 'Contratto fase 6 derivato da `clienti_react_list` in `web/blueprints/api_v1_react.py:1696`. Pagina/area
        collegata: Clienti (/app/anagrafiche). I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_clienti_react_list_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Clienti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.clients.list
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/clienti/{id_cliente}/cartella:
    get:
      tags:
      - Anagrafiche
      summary: 'Clienti: GET /api/v1/ui/clienti/{id_cliente}/cartella'
      description: 'Contratto fase 6 derivato da `cliente_cartella_react` in `web/blueprints/api_v1_react.py:1769`. Pagina/area
        collegata: Clienti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_cliente_cartella_react_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_cliente
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Clienti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/clienti/{id_cliente}/modifica:
    get:
      tags:
      - Anagrafiche
      summary: 'Clienti: GET /api/v1/ui/clienti/{id_cliente}/modifica'
      description: 'Contratto fase 6 derivato da `cliente_modifica_react` in `web/blueprints/api_v1_react.py:1787`. Pagina/area
        collegata: Clienti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_cliente_modifica_react_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_cliente
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Clienti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/clienti/delete:
    post:
      tags:
      - Anagrafiche
      summary: 'Clienti: POST /api/v1/ui/clienti/delete'
      description: 'Contratto fase 6 derivato da `clienti_react_delete` in `web/blueprints/api_v1_react.py:1731`. Pagina/area
        collegata: Clienti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_clienti_react_delete_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Clienti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/clienti/nuovo:
    get:
      tags:
      - Anagrafiche
      summary: 'Clienti: GET /api/v1/ui/clienti/nuovo'
      description: 'Contratto fase 6 derivato da `clienti_react_nuovo` in `web/blueprints/api_v1_react.py:1759`. Pagina/area
        collegata: Clienti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_clienti_react_nuovo_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Clienti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/compensi-forensi:
    get:
      tags:
      - Mandato
      summary: 'Compensi forensi: GET /api/v1/ui/compensi-forensi'
      description: 'Contratto fase 6 derivato da `compensi_forensi_page` in `web/blueprints/api_v1_react.py:5097`. Pagina/area
        collegata: Compensi forensi. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_compensi_forensi_page_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Compensi forensi nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: fatturazione.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/compensi-forensi/calcola:
    post:
      tags:
      - Mandato
      summary: 'Compensi forensi: POST /api/v1/ui/compensi-forensi/calcola'
      description: 'Contratto fase 6 derivato da `compensi_forensi_calcola` in `web/blueprints/api_v1_react.py:5122`. Pagina/area
        collegata: Compensi forensi. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_compensi_forensi_calcola_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Compensi forensi nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: fatturazione.leggi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/conferimenti/{conferimento_id}/apri-fascicolo:
    post:
      tags:
      - Mandato
      summary: 'Conferimenti: POST /api/v1/ui/conferimenti/{conferimento_id}/apri-fascicolo'
      description: 'Contratto fase 6 derivato da `regia_apri_fascicolo_da_conferimento` in `web/blueprints/api_v1_react.py:3378`.
        Pagina/area collegata: Conferimenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_regia_apri_fascicolo_da_conferimento_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: conferimento_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Conferimenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: fatturazione.leggi/scrivi
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/dashboard:
    get:
      tags:
      - Dashboard
      summary: 'Panoramica: GET /api/v1/ui/dashboard'
      description: 'Contratto fase 6 derivato da `dashboard` in `web/blueprints/api_v1_react.py:3552`. Pagina/area collegata:
        Regia (/app/regia). I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_dashboard_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Panoramica nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.dashboard.regia
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/dashboard/sync-mailboxes:
    post:
      tags:
      - Dashboard
      summary: 'Panoramica: POST /api/v1/ui/dashboard/sync-mailboxes'
      description: 'Contratto fase 6 derivato da `dashboard_sync_mailboxes` in `web/blueprints/api_v1_react.py:3579`. Pagina/area
        collegata: Panoramica. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_dashboard_sync_mailboxes_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Panoramica nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P1
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/email:
    get:
      tags:
      - Comunicazioni
      summary: 'Email PEC: GET /api/v1/ui/email'
      description: 'Contratto fase 6 derivato da `email_react_list` in `web/blueprints/api_v1_react.py:1854`. Pagina/area
        collegata: Email PEC. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_react_list_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Email PEC nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/email-ordinaria:
    get:
      tags:
      - Comunicazioni
      summary: 'Email ordinaria: GET /api/v1/ui/email-ordinaria'
      description: 'Contratto fase 6 derivato da `email_ordinaria_react_list` in `web/blueprints/api_v1_react.py:1980`. Pagina/area
        collegata: Email ordinaria. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_ordinaria_react_list_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Email ordinaria nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/email-ordinaria/bulk-action:
    post:
      tags:
      - Comunicazioni
      summary: 'Email ordinaria: POST /api/v1/ui/email-ordinaria/bulk-action'
      description: 'Contratto fase 6 derivato da `email_ordinaria_react_bulk_action` in `web/blueprints/api_v1_react.py:2026`.
        Pagina/area collegata: Email ordinaria. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_ordinaria_react_bulk_action_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Email ordinaria nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/email-ordinaria/messaggio/{id_email}:
    get:
      tags:
      - Comunicazioni
      summary: 'Email ordinaria: GET /api/v1/ui/email-ordinaria/messaggio/{id_email}'
      description: 'Contratto fase 6 derivato da `email_ordinaria_react_detail` in `web/blueprints/api_v1_react.py:2008`.
        Pagina/area collegata: Email ordinaria. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_ordinaria_react_detail_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_email
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Email ordinaria nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/email/bulk-action:
    post:
      tags:
      - Comunicazioni
      summary: 'Email PEC: POST /api/v1/ui/email/bulk-action'
      description: 'Contratto fase 6 derivato da `email_react_bulk_action` in `web/blueprints/api_v1_react.py:1970`. Pagina/area
        collegata: Email PEC. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_react_bulk_action_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: Payload operativo Email PEC nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/email/messaggio/{id_email}:
    get:
      tags:
      - Comunicazioni
      summary: 'Email PEC: GET /api/v1/ui/email/messaggio/{id_email}'
      description: 'Contratto fase 6 derivato da `email_react_detail` in `web/blueprints/api_v1_react.py:1883`. Pagina/area
        collegata: Email PEC. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_email_react_detail_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_email
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Email PEC nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli'
      description: 'Contratto fase 6 derivato da `fascicoli_react_list` in `web/blueprints/api_v1_react.py:2901`. Pagina/area
        collegata: Fascicoli (/app/fascicoli). I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_fascicoli_react_list_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: routes.appV2.cases.list
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: success+auth-error
      x-contract-status: verified
  /api/v1/ui/fascicoli/{id_fasc}:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}'
      description: 'Contratto fase 6 derivato da `fascicolo_react_dettaglio` in `web/blueprints/api_v1_react.py:2977`. Pagina/area
        collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_fascicolo_react_dettaglio_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/attivita:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}/attivita'
      description: 'Contratto fase 6 derivato da `fascicolo_react_attivita` in `web/blueprints/api_v1_react.py:3017`. Pagina/area
        collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_fascicolo_react_attivita_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/checklist:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}/checklist'
      description: 'Contratto fase 6 derivato da `fascicolo_regia_checklist` in `web/blueprints/api_v1_react.py:3139`. Pagina/area
        collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_fascicolo_regia_checklist_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/depositi:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}/depositi'
      description: 'Contratto fase 6 derivato da `fascicolo_react_depositi` in `web/blueprints/api_v1_react.py:3057`. Pagina/area
        collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare tenant/studio/user.'
      operationId: reactUi_fascicolo_react_depositi_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/evidence-pack:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/evidence-pack'
      description: 'Contratto fase 6 derivato da `fascicolo_regia_evidence_pack` in `web/blueprints/api_v1_react.py:3328`.
        Pagina/area collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_fascicolo_regia_evidence_pack_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - name: deposito_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/importa-ricevuta:
    post:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: POST /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/importa-ricevuta'
      description: 'Contratto fase 6 derivato da `fascicolo_regia_importa_ricevuta` in `web/blueprints/api_v1_react.py:3302`.
        Pagina/area collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_fascicolo_regia_importa_ricevuta_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - name: deposito_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutationRequest'
        description: Payload validato dal dominio; campi di controllo server vietati dal guardrail fase 5.
  /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/timeline:
    get:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: GET /api/v1/ui/fascicoli/{id_fasc}/depositi/{deposito_id}/timeline'
      description: 'Contratto fase 6 derivato da `fascicolo_regia_deposito_timeline` in `web/blueprints/api_v1_react.py:3292`.
        Pagina/area collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_fascicolo_regia_deposito_timeline_get
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - name: deposito_id
        in: path
        required: true
        schema:
          type: string
        description: Parametro interno della risorsa, risolto nel tenant corrente.
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - $ref: '#/components/parameters/StatusParam'
      responses:
        '200':
          description: Payload operativo Fascicoli e documenti nel tenant corrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
      x-priority: P0
      x-rbac-permission: sessione/API tenant-aware
      x-feature-flag: non applicabile o governato dalla route collegata
      x-tenant-scope: current_tenant
      x-pii-policy: no tenant_id/studio_id, token, secret o path filesystem in chiaro salvo campo funzionale redatto.
      x-provider-verification: auth-error
      x-contract-status: complete
  /api/v1/ui/fascicoli/{id_fasc}/depositi/invia:
    post:
      tags:
      - Fascicoli
      summary: 'Fascicoli e documenti: POST /api/v1/ui/fascicoli/{id_fasc}/depositi/invia'
      description: 'Contratto fase 6 derivato da `fascicolo_regia_deposito_invia` in `web/blueprints/api_v1_react.py:3262`.
        Pagina/area collegata: Fascicoli e documenti. I dati sono sempre nel tenant corrente; il client non puo'' forzare
        tenant/studio/user.'
      operationId: reactUi_fascicolo_regia_deposito_invia_post
      security:
      - cookieSession: []
      - apiKeyAuth: []
      parameters:
      - name: id_fasc
        in: path
        required: true
        schema:
          type: string
[...]
